html, body {
    margin: 0;
    padding: 0;
    font-family: "Tahoma", sans-serif;
}

#content {
    padding: 30px;
}

#dashboard {
    height: 700px;
    position: relative;
}

#dashboard header {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    padding: 0 4px;
}

#dashboard-left {
    width: 250px;
    position: absolute;
    height: 100%;
    border: 1px solid #aaa;
}

#top-chart-header {
    background-color: steelblue;
    color: white;
}

#top-chart-container {
    position: absolute;
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
    overflow-y: scroll;
}
.top-chart {
    width: 100%;
}
.top-chart td {
    border-bottom: 1px solid #aaa;
}
.top-chart .count {
    color: red;
    font-weight: 600;
    font-size: 18px;
    padding: 0 2px;
}
.top-chart .country {
    padding: 0 4px;
}

#chart-wrapper {
    padding: 0 30px;
    height: 700px;
    width: 1300px;
    position: absolute;
    top: 0px;
    left: 251px;
    border: 1px solid #aaa;
}

#chart {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 1280px;
    height: 600px;
    margin: 0px;
    padding: 0px;
}

.top-chart,
.data-chart {
    border-collapse: collapse;
}

.data-chart td {
    font-size: 11px;
    border: 1px solid #888;
    padding: 2px 4px;
    white-space: nowrap;
    cursor: pointer;
}

.data-chart tr:first-child td {
    font-weight: bold;
}

.data-chart tr.favorite td {
    background-color: #cee7ff;
}
.data-chart tr:hover td {
    background-color: yellow;
}
.data-chart tr.selected td {
    background-color: orange;
}
